<div *ngIf="cases">
  <h2>Case Files</h2>
  <table>
    <tr>
      <th> Case ID </th>
      <th> First Name</th>
      <th> Last Name </th>
      <th> Birthdate </th>
      <th> Rating </th>
      <th> Social Worker ID </th>
      <th> Placement ID </th>
    </tr>
    <tr *ngFor="let case of cases">
      <th> {{case.caseid}} </th>
      <th> {{case.firstname}} </th>
      <th> {{case.lastname}} </th>
      <th> {{case.birthdate}} </th>
      <th> {{case.rating}} </th>
      <th> {{case.socialworkerid}} </th>
      <th> {{case.placementid}} </th>
    </tr>
  </table>
</div>
<br>
<div style="text-align:center;">
  <button (click)="goBack()" class="btn btn-default">Back</button>
</div>