
<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper" style="min-height: 960px;">
    <section class="content">
      <div *ngIf="cases">
          <div class="box">
              <div class="box-header">
                <h3 class="box-title">Case</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <table class="table table-striped">
                  <tr>
                    <th style="width: 40px">Case ID</th>
                    <th style="width: 40px">First Name</th>
                    <th style="width: 40px">Last Name</th>
                    <th style="width: 40px">Birthdate</th>
                    <th style="width: 40px">Rating</th>
                    <th style="width: 40px">Social Worker</th>
                    <th style="width: 40px">Placement</th>
                    <th style="width: 40px">Phone Call Logs</th>
                  </tr>
                  <tr *ngFor="let case of cases">

                    <td> {{case.caseid}} </td>
                    <td> {{case.firstname}} </td>
                    <td> {{case.lastname}} </td>
                    <td> {{case.birthdate}} </td>
                    <td> {{case.rating}} </td>
                    <td> {{case.sw.firstname}} {{case.sw.lastname}} </td>
                    <td> {{case.placement.type}} </td>
                    <td><button (click)="getPhoneLog(case.caseid)" class="btn btn-default">View</button></td>

                  </tr>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
        </div>
    </section>
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->
