<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper" style="min-height: 960px;">
    <section class="content">
      <button (click)="auth.logout()">Logout</button>
      <form (submit)="newForm($event)">
        <input type="text" id="firstname" placeholder="First Name">
        <br>
        <input type="text" id="lastname" placeholder="Last Name">
        <br>
        <input type="date" id="birthdate" placeholder="Birth Date">
        <br>
        <input type="number" id="rating" placeholder="Rating">
        <br>
        <select type="text" id="socialworker" placeholder="Social Worker">
          <option [value]="sw.id" *ngFor="let sw of thisSoc">
          {{sw.firstname+" "+sw.lastname}}</option>
        </select>
  <br>
  <select type="text" id="placement" placeholder="Placement">
    <option [value]="placement" *ngFor="let p of ps"
    {{p}}></option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
<pre>
  {{thisSoc}}
</pre>
<h1>Customer List</h1>
<ul>
 <li *ngFor="let Soc of thisSoc">
   {{ Soc | json }}
 </li>
</ul>
    </section>
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->
<button (click)="auth.logout()">Logout</button>
<form (submit)="newForm($event)">
  <input type="text" id="firstname" placeholder="First Name">
  <br>
  <input type="text" id="lastname" placeholder="Last Name">
  <br>
  <input type="date" id="birthdate" placeholder="Birth Date">
  <br>
  <input type="number" id="rating" placeholder="Rating">
  <br>
  <select type="text" id="socialworker" placeholder="Social Worker">
    <option [value]="sw.id" *ngFor="let sw of thisSoc">
    {{sw.firstname+" "+sw.lastname}}</option>
  </select>
  <br>
  <select type="text" id="placement" placeholder="Placement">
    <option [value]="p.id" *ngFor="let p of thisp">
    {{p.type}}</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
