<ng-template ngxPermissionsOnly="ADMIN">
<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper" style="min-height: 960px;">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add New Case</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" (submit)="newForm($event)">
              <div class="box-body">
                <div class="form-group">
                  <label for="firstname" class="col-sm-2 control-label">First Name:</label>
        
                  <div class="col-sm-10">
                      <input type="text" id="firstname" placeholder="First Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
        
                  <div class="col-sm-10">
                      <input type="text" id="lastname" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                    <label for="birthdate" class="col-sm-2 control-label">Birth Date:</label>
                    <div class="col-sm-10">
                        <input type="date" id="birthdate" placeholder="Birth Date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Rating:</label>
          
                    <div class="col-sm-10">
                        <input type="number" id="rating" placeholder="Rating">
                    </div>
                </div>
                <div class="form-group">
                    <label for="socialworker" class="col-sm-2 control-label">Social Worker:</label>
                    <div class="col-sm-10">
                        <select type="text" id="socialworker" placeholder="Social Worker" margin-left="20px">
                    <option [value]="sw.id" *ngFor="let sw of thisSoc">{{sw.firstname+" "+sw.lastname}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="placement" class="col-sm-2 control-label">Placement:</label>
                    <div class="col-sm-10">
                        <select type="text" id="placement" placeholder="Placement" [(ngModel)]="selectedp" name="first">
                    <option [ngValue]="p" *ngFor="let p of thisp" >{{p.type}}</option>
                        </select>
                    </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer col-md-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
        </div>
    </section>
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->
</ng-template>
<ng-template ngxPermissionsOnly="SW">
    <div class="row">
    <div class=".col-md-4 col-sm-offset-1">
        <h1>403 Forbidden</h1>
        <h3>We know its you {{auth.getFullname()}}.</h3>
    </div>
    </div>
</ng-template>
