<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper " style="min-height: 960px;">
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <app-calagenda></app-calagenda>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-calweek></app-calweek>
        </div>
      </div>
    </section>
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->




