<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper " style="min-height: 960px;">
    <section class="content">
        <div *ngIf="courtDates">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Court Date</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th> Court Date Id </th>
                      <th> Case Id </th>
                      <th> Time </th>
                      <th> Location </th>
                      <th> Transportation </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let courtDate of courtDates" (click)="courtDateSelected(courtDate)">
                      <td> {{courtDate.id}} </td>
                      <td> {{courtDate.caseid}} </td>
                      <td> {{courtDate.time | date:'M/d/yy h:mm a'}} </td>
                      <td> {{courtDate.location}} </td>
                      <td><span *ngIf="courtDate.transportationid != 0" style="color:green"> Scheduled</span> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
                <div style="text-align:center;">
                  <div class="btn-group">
                    <button (click)="insertButtonSelected()" class="btn btn-outline-dark">Show Insert Form</button>
                  </div>
                </div>
              </section>
                <br>
                <div *ngIf="selectedCourtDate" style="text-align:center;"> 
                    <div>
                      <h3 class="box-title"> Update Form </h3>
                      <br>
                    </div>
                    <div>
                      <label>Court Date ID
                        <input [(ngModel)]="selectedCourtDate.id" class="form-control text-center" placeholder="Court Date ID">
                      </label>
                    <div>
                      <label>Case ID
                        <input [(ngModel)]="selectedCourtDate.caseid" class="form-control text-center" placeholder="Case ID">  
                      </label>
                    <div>
                      <label>Time
                        <input [ngModel]="selectedCourtDate.time | date:'yyyy-MM-ddThh:mm'" type="datetime-local" step="any" class="form-control text-center" placeholder="Time">
                      </label>
                    <div>
                      <label>Location
                          <input [(ngModel)]="selectedCourtDate.location" class="form-control text-center" placeholder="Location">
                      </label>
                      <div>
                        <label>Transportation ID
                          <input [(ngModel)]="selectedCourtDate.transportationid" class="form-control text-center" placeholder="Transportation ID">
                        </label>
                  <div style="text-align:center;">
                    <br>
                    <button (click)="save()" class="btn btn-default">Submit</button>
                    <button (click)="cancel()" class="btn btn-default">Cancel</button>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  
                  <div *ngIf="showInsertForm" style="text-align:center;">
                    <div>
                      <h3 class="box-title">Insert Form</h3>
                      <br>
                    </div>
                    <div>
                      <label>Court Date Id
                        <input #id class="form-control text-center" />
                      </label>
                    <div>
                        <label>Case Id
                          <input #caseid class="form-control text-center"/>
                        </label>
                    <div>    
                      <label>Time
                          <input type="datetime-local" step="any" class="form-control text-center" #time/>
                        </label>
                    <div>
                      <label>Location
                          <input #location class="form-control text-center"/>
                        </label>
                    <div>        
                      <label>Transportation Id
                          <input #transportationid class="form-control text-center"/>
                        </label>
                    </div>
                    <br>
                  <div style="text-align:center;">
                    <button (click)="insert(id.value, caseid.value, time.value+':00.000Z', location.value, 
                                     transportationid.value); id.value=''; caseid.value=''; time.value=''; 
                                     location.value=''; transportationid.value='';" class="btn btn-default"> 
                                     Submit</button>
                    <button (click)="cancel()" class="btn btn-default">Cancel</button>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->