<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-sidenavbar></app-sidenavbar>
  <div class="content-wrapper " style="min-height: 960px;">
    <section class="content">
        <div *ngIf="visits">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Visitation</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body no-padding">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th> Visitation Id </th>
                      <th> Social Worker Id</th>
                      <th> Case Id </th>
                      <th> Time </th>
                      <th> Location </th>
                      <th> Transportation Id </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let visit of visits" (click)="visitSelected(visit)">
                      <td> {{visit.id}} </td>
                      <td> {{visit.socialworkerid}}</td>
                      <td> {{visit.caseid}} </td>
                      <td> {{visit.time | date:'M/d/yy h:mm a'}} </td>
                      <td> {{visit.location}} </td>
                      <td> {{visit.transportationid}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
                <div style="text-align:center;">
                  <div class="btn-group">
                    <button (click)="insertButtonSelected()" data-toggle="collapse" data-target="#insert" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>                  </div>
                </div>
              </section>
                <br>
                <!-- Start Update Form -->
                <div *ngIf="selectedvisit" class="row">
                  <div class="col-md-4 col-md-offset-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Update Form</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                          <div class="box-body">
                          
                            <div class="form-group">
                              <label for="id" class="col-sm-4 control-label">Visitation ID</label>
                              <div class="col-sm-8">
                                <input [(ngModel)]="selectedvisit.id" name="id" type="text" class="form-control" placeholder="Visitation ID" disabled aria-disabled="true">
                              </div>
                            </div>
  
                            <div class="form-group">
                              <label for="swi" class="col-sm-4 control-label">Social Worker Id</label>
                              <div class="col-sm-8">
                                <input [(ngModel)]="selectedvisit.socialworkerid" name="swi" type="text" class="form-control" id="swi" placeholder="Social Worker Id">
                              </div>
                            </div>
  
                            <div class="form-group">
                              <label for="cid" class="col-sm-4 control-label">Case Id</label>
                              <div class="col-sm-8">
                                <input [(ngModel)]="selectedvisit.caseid" name="cid" type="text" class="form-control" id="cid" placeholder="Case Id">
                              </div>
                            </div>
  
                            <div class="form-group">
                              <label for="time" class="col-sm-4 control-label">Time</label>
                              <div class="col-sm-8">
                                <input [ngModel]="selectedvisit.time | date:'yyyy-MM-ddThh:mm'" name="time" (ngModelChange)="selectedvisit.time=$event" type="datetime-local" class="form-control" id="time" placeholder="Time">
                              </div>
                            </div>
  
                            <div class="form-group">
                                <label for="location" class="col-sm-4 control-label">Location</label>
                                <div class="col-sm-8">
                              <input [(ngModel)]="selectedvisit.location" type="text" class="form-control" name="location" id="location" placeholder="Location">
                                </div>
                            </div>
  
                            <div class="form-group">
                              <label for="tid" class="col-sm-4 control-label">Transportation Id</label>
                              <div class="col-sm-8">
                                <input [(ngModel)]="selectedvisit.transportationid" name="tid" type="text" class="form-control" placeholder="Transportation Id">
                              </div>
                            </div>
                            
                          </div>
                          <!-- /.box-body -->
                          <div class="box-footer">
                            <button (click)="save()" class="btn btn-primary">Submit</button>
                            <button (click)="cancel()" class="btn btn-danger">Close</button>
                          </div>
                          <!-- /.box-footer -->
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- End Update Form -->
                  <!-- Start Insert Form -->
                  <div *ngIf="showInsertForm" class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <div class="box box-primary">
                          <div class="box-header with-border">
                            <h3 class="box-title">Add New Visitation</h3>
                          </div>
                          <!-- /.box-header -->
                          <!-- form start -->
                          <form class="form-horizontal">
                            <div class="box-body">
                              <div class="form-group">
                                <label for="id" class="col-sm-4 control-label">Visitation Id</label>
                                <div class="col-sm-8">
                                  <input #id name="id" type="text" class="form-control" id="id" placeholder="Visitation Id">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="sid" class="col-sm-4 control-label">Social Worker Id</label>
                      
                                <div class="col-sm-8">
                                  <input #socialworkerid name="sid" type="text" class="form-control" id="sid" placeholder="Social Worker Id">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="cid" class="col-sm-4 control-label">Case Id</label>
                      
                                <div class="col-sm-8">
                                  <input #caseid name="cid" type="text" class="form-control" id="cid" placeholder="Case Id">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="time" class="col-sm-4 control-label">Time</label>
                      
                                <div class="col-sm-8">
                                  <input #time name="time" type="datetime-local" class="form-control" id="time" placeholder="Time">
                                </div>
                              </div>
                              <div class="form-group">
                                  <label for="location" class="col-sm-4 control-label">Location</label>
                        
                                  <div class="col-sm-8">
                                    <input #location name="location" type="text" class="form-control" id="location" placeholder="Location">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="transportation" class="col-sm-4 control-label">Transportation Id</label>
                        
                                  <div class="col-sm-8">
                                    <input #transportationid name="transportation" type="text" class="form-control" id="transportation" placeholder="Transportation Id">
                                  </div>
                              </div>
                              
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button (click)="insert(id.value, socialworkerid.value, caseid.value, time.value+':00.000Z', location.value, 
                                                     transportationid.value); id.value=''; caseid.value=''; time.value=''; 
                                                     location.value=''; transportationid.value='';" class="btn btn-primary"> 
                                                     Submit</button>
                                    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
                            </div>
                            <!-- /.box-footer -->
                          </form>
                        </div>
                      </div>
                    </div>
                  <!-- End Insert Form -->
  </div><!-- End Content-Wrapper -->
  <app-footer></app-footer>
</div><!-- End Wrapper -->